In [1]:
import pandas as pd
import numpy as np

In [2]:
nba = pd.read_csv(r"../csv/Nba_clean.csv")
nba.drop(columns="Unnamed: 0", inplace = True)

In [13]:
# Convertir las cadenas de texto a un formato de fecha o año
nba['season'] = pd.to_datetime(nba['season'].str.slice(0, 4), format='%Y')

# Definir los intervalos y las etiquetas para las décadas
intervalos = pd.to_datetime(["1996-01-01", "2006-01-01", "2016-01-01", "2023-01-01"])
etiquetas = ['1996/2005', '2006/2015', '2015/2023']

# Utilizar pd.cut para asignar las décadas a cada temporada
nba['Decada'] = pd.cut(nba['season'], bins=intervalos, labels=etiquetas, right=False)

In [14]:
nba['season'] = nba['season'].dt.year

In [15]:
group = nba.groupby(["Decada"]).agg({"age":"max","player_height":"median","player_weight":"median"}).sort_values(by="age", ascending=False)
group

           age  player_height  player_weight
Decada
2006/2015   44          203.0          101.2
1996/2005   43          203.0          101.2
2015/2023   43          200.0           97.5

In [16]:
nba.to_csv("Nba_clean.csv")