In [2]:
import pandas as pd
import numpy as np

In [3]:
nba = pd.read_csv(r"../csv/Nba_Clean.csv")

In [3]:
nba.head()
nba.drop(columns="Unnamed: 0" ,inplace = True)

In [4]:
nba.head(2)

,player_name,team_abbreviation,age,player_height,player_weight,country,gp,pts,reb,ast,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,Decada
0,Randy Livingston,HOU,22,193,94.8,USA,64,3.9,1.5,2.4,0.04,0.07,0.17,0.49,0.25,1996,1996/2005
1,Gaylon Nickerson,WAS,28,190,86.2,USA,4,3.8,1.3,0.3,0.03,0.11,0.17,0.50,0.04,1996,1996/2005

In [5]:
nba.rename(columns={"player_name":"Name", "team_abbreviation":"Team","player_height":"Height", "player_weight":"Weight",
                         "country":"Country","gp":"G_Played","pts":"Pts","reb":"Reb","ast":"Asist","season":"Season", "Decada":"Decade"},
                inplace = True)

In [6]:
nba.Team.replace({"HOU":"Houston Rockets", "WAS":"Washington Wizards", "MEM":"Memphis Grizzlies", "LAL":"L.A.Lakers", "DEN":"Denver Nuggets",
                 "ORL":"Orlando Magic","CHH":"Charlotte Hornets", "MIL":"Milwake Bucks", "DET":"Detroit Pistons", "POR":"Portland Trail Blazers","DAL":"Dallas Mavericks",
                 "UTA":"Utah Jazz","OKC":"Oklahoma City Thunder","BOS":"Boston Celtic","IND":"Indiana Pacers", "SAS":"San Antonio Spurs",
                 "MIA":"Miami Heat","ATL":"Atlanta Hawks","BKN":"Brooklyn Nets","LAC":"L.A.Clippers","GSW":"Golden State","PHI":"Philadelphia 76ers","NYK":"New York Knicks",
                 "TOR":"Toronto Raptors","PHX":"Phoneix Suns", "MIN":"Minnesota Timberwolves","CHI":"Chicago Bulls","SAC":"Sacramento Kings","CLE":"Cleveland Cavaliers","NOP":"New Orleands Pelicans"},
                inplace = True)

In [7]:
nba.Team.unique()

array(['Houston Rockets', 'Washington Wizards', 'Memphis Grizzlies',
       'L.A.Lakers', 'Denver Nuggets', 'Orlando Magic',
       'Charlotte Hornets', 'Milwake Bucks', 'Detroit Pistons',
       'Portland Trail Blazers', 'Dallas Mavericks', 'Utah Jazz',
       'Oklahoma City Thunder', 'Boston Celtic', 'Indiana Pacers',
       'San Antonio Spurs', 'Miami Heat', 'Atlanta Hawks',
       'Brooklyn Nets', 'L.A.Clippers', 'Golden State',
       'Philadelphia 76ers', 'New York Knicks', 'Toronto Raptors',
       'Phoneix Suns', 'Minnesota Timberwolves', 'Chicago Bulls',
       'Sacramento Kings', 'Cleveland Cavaliers', 'New Orleands Pelicans'],
      dtype=object)

In [8]:
nba.to_csv("Nba_Clean.csv")